.card-outer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  width: 62%;
  background-color: whitesmoke;
  outline: 1px solid #7771e5;
  align-items: center;
  padding: 5px;
  border-radius: 2px;
}

.outer-que {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.card-button-container {
  display: flex;
  gap: 3px
}

h3 {
 margin: 4px;
 margin-left: 0;
}


/*?----where the hell is this from?-------?
/*
.delivery-nav {
  display: flex;
  height: 4rem;
  background-color: #7771e5
}

.delivery-nav ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-link {
  background-color: #e8e7f3;
  padding: .5rem;
} */
