.details-outer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 62%;
}

.details-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-delivery-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* outline: 5px solid black; */
}

.address-category {
  text-decoration: underline;
}

.details-button-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;

}

.messages-container {
  width: 62%;
}

.messages-outer-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.single-message {
  outline: 1px solid #7771e5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: whitesmoke;
  padding: 1px;
  border-radius: 2px;
}

.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-button-box {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 2px;
}

.message-form-input {
  width: 90%;
  height: 30px;
}
