.signup-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-submit {
  margin-top: .5rem;
}
