/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
button {
  height: 30px;
  background-color: #262267;
  color: white
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #e8e7f3;
}

ul {
  list-style-type: none;
}

body {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}
