.profile-dropdown {
  position: absolute;
  background-color: white;
}

.nav-container {
  
}

.nav-bar {
  display: flex;
  justify-content: space-around;
}

.active {
  background-color: aliceblue;
}
